<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">


<div *ngIf="match" class="mat-app-background app-container">
<h1>Easy Tft Matchmaking Tracking</h1>
<div>Left click to match, right click to eliminate, enter input to take notes</div>

<div class="control-button-row">
  <button mat-raised-button (click)="showEventHistory = !showEventHistory">Toggle Event History</button>
  <button mat-raised-button (click)="match.ghostMatched()">Ghost Army Round</button>
  <button mat-raised-button (click)="match.undoLastAction()">Undo Last Action</button>
</div>

<div class="content-area">
<div class="player-tracking-area">
  <div style="text-align: left; font-size: 16px">Next PvP Round: {{match.getStageRoundString()}}</div>
  <h2>Eligible Opponents</h2>
  <div class="eligible-opponents">
    <mat-card class="player"
         *ngFor="let player of match.getEligiblePlayers()"
         (click)="match.playerMatched(player)"
         (contextmenu)="match.playerEliminated(player)">

      <mat-card-title>{{player.name}}</mat-card-title>
      <div class="notes" (click)="$event.stopPropagation()" (contextmenu)="$event.stopPropagation()">
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput placeholder="notes" [(ngModel)]="player.notes">
        </mat-form-field>
      </div>

    </mat-card>
  </div>

  <h2>Ineligible Opponents</h2>
  <div class="ineligible-opponents">
    <mat-card class="player ineligible"
         *ngFor="let player of match.getIneligiblePlayers(); let i = index"
         (contextmenu)="match.playerEliminated(player)">
      <mat-card-title>{{player.name}}</mat-card-title>
      <div class="notes" (click)="$event.stopPropagation()" (contextmenu)="$event.stopPropagation()">
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput placeholder="notes" [(ngModel)]="player.notes">
        </mat-form-field>
      </div>
    </mat-card>
  </div>

  <h2>Eliminated Opponents</h2>
  <div class="eliminated-opponents">
    <mat-card class="player eliminated" *ngFor="let player of match.getEliminatedPlayers(); let i = index">
      <mat-card-title>{{player.name}}</mat-card-title>
      <div class="notes" (click)="$event.stopPropagation()" (contextmenu)="$event.stopPropagation()">
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput placeholder="notes" [(ngModel)]="player.notes">
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="showEventHistory" class="event-history-area">
  <h2>Event History</h2>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let event of match.getEventHistory()">{{event}}</mat-list-item>
  </mat-list>
</div>

</div>

</div>
